VITE_SUPABASE_URL=https://ntlzlfbztryasbmjnynq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lzWu99dOnbt0eJVBgQ1fsw_jOy6bTC-

SUPABASE_PROJECT_REF=ntlzlfbztryasbmjnynq
SUPABASE_DB_HOST=db.ntlzlfbztryasbmjnynq.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=REEMPLAZAR_SOLO_EN_ENV_LOCAL

SUPABASE_POOLER_HOST=aws-1-us-east-2.pooler.supabase.com
SUPABASE_POOLER_PORT=5432
SUPABASE_POOLER_DB=postgres
SUPABASE_POOLER_USER=postgres.ntlzlfbztryasbmjnynq
SUPABASE_POOLER_PASSWORD=REEMPLAZAR_SOLO_EN_ENV_LOCAL
